version: '3.8'

services:
  nest-app:
    container_name: nest-app
    image: ${ECR_REGISTRY}/${ECR_REPOSITORY}:latest
    restart: always
    ports:
      - "80:3000" # Expose on port 80 (HTTP)
    environment:
      NODE_ENV: production
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    networks:
      - shop_network

networks:
  shop_network:
