version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: shop_postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - shop_network

networks:
  shop_network:

volumes:
  postgres_data:
